{% extends "base.html.twig" %}

{% block title %}
    {% if editMode %}
			Modifier categorie
		{% else %}
            Ajouter categorie
		{% endif %}
{% endblock %}

{% block body %}
	<h1 class="text-center my-4">
		{% if editMode %}
			Modifier une categorie
		{% else %}
			Ajouter une categorie
		{% endif %}
	</h1>

	<div class="container">
		{{ form_start(form, {
			attr: {
				novalidate: 'novalidate'
			}
		}) }}
		{{ form_row(form.title , { 
                label: 'Category',
                attr: {
                    placeholder: "titre de la category"
                }
            }) }}
		
		{{ form_row(form.description, {
			label: 'description'
		}) }}



		<button class="btn btn-primary" type="submit">envoyer</button>

		{{ form_end(form) }}
	</div>
{% endblock %}
